@using Exercises.Models
@model List<Product>
@{
    ViewBag.Title = "List View";
}


@foreach (Product product in Model)
{
    string bestSeller = (product.IsTopSeller) ? "BEST SELLER!" : "";
    string remainingStock = (product.RemainingStock < 10) ? "Only " + product.RemainingStock + " left!" : "";

    <div class="page-wrap">
        <section class="product-content" role="main">
            <h2>@Html.ActionLink(product.Name, "Detail", new { product.ProductId }) <font color="red">@bestSeller </font></h2>
            <p>by @product.Manufacturer</p>
            <p style="color:blue"> @remainingStock </p>
            <p id="price">$ @product.Price</p>
            <p><strong>Weight: </strong>  @product.WeightIbLbs lbs</p>
            <img id="rating" src="/Content/images/@Convert.ToInt32(product.AverageRating)-star.png" />
        </section>

        <section role="navigation">
            <a href='@Url.Action("Detail", new { product.ProductId })'><img class="toy_image" src="~/Content/images/@product.ImageName" /></a>
        </section>

    </div>
        <hr width="85%" />
}

