@using Exercises.Models
@model List<Product>

@{
    ViewBag.Title = "Table View";
}


        <table >
            <tr>
                <td id="imageRow"><!-- empty for the images--></td>
                @foreach (Product product in Model)
                {
                    <td><a href='@Url.Action("Detail", new { id = product.ProductId })'><img class="table_toy_image" src="~/Content/images/@product.ImageName" /></a></td>
                }
            </tr>
            <tr id="bestSellerRow">
                <td><!-- empty for the Best Seller--></td>
                @foreach (Product product in Model)
                {
                    <td>
                        @if (product.IsTopSeller)
                        {
                        <font color="red">BEST SELLER!</font>
                        }
                    </td>

                }
            </tr>
            <tr id="nameRow" class="greyRow">
                <th>Name </th>
                @foreach (Product product in Model)
                {
                    <td>@Html.ActionLink(product.Name, "Detail", new { id = product.ProductId })</td>
                }
            </tr>

            <tr id="ratingRow">
                <th>Rating </th>
                @foreach (Product product in Model)
                {
                    <td><img id="table_rating" src="/Content/images/@Convert.ToInt32(product.AverageRating)-star.png" /></td>
                }
            </tr>

            <tr id="MFRRow" class="greyRow">
                <th>MFR </th>
                @foreach (Product product in Model)
                {
                    <td>@product.Manufacturer</td>
                }
            </tr>

            <tr id="priceRow">
                <th>Price </th>
                @foreach (Product product in Model)
                {
                    <td id="price">@product.Price</td>
                }
            </tr>

            <tr id="weightRow" class="greyRow">
                <th>Weight (in lbs) </th>
                @foreach (Product product in Model)
                {
                    <td>@product.WeightIbLbs</td>
                }
            </tr>
        </table>

