@using Exercises.Models
@model List<Product>

@{
    ViewBag.Title = "Tile View";
}


        <div id="container" class="cols">
            @foreach (Product product in Model)
            {
                string bestSeller = (product.IsTopSeller) ? "BEST SELLER!" : "";
                string remainingStock = (product.RemainingStock < 10) ? "Only " + product.RemainingStock + " left!" : "";

                <div class="box">
                    <div>
                        <a href='@Url.Action("Detail", new { product.ProductId })'><img class="toy_image" src="~/Content/images/@product.ImageName" /></a>
                    </div>
                    <div><strong>@Html.ActionLink(product.Name, "Detail", new { product.ProductId }) <font color="red">@bestSeller </font></strong></div>
                    <div>   by @product.Manufacturer</div>
                    <div><font color="blue"> @remainingStock </font> </div>
                    <div><font id="price">$ @product.Price</font></div>
                    <div><strong>Weight: </strong>  @product.WeightIbLbs lbs</div>
                    <div> <img id="rating" src="/Content/images/@Convert.ToInt32(product.AverageRating)-star.png" /></div>
                </div>
            }
        </div>


