<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("List Layout", "List", "Product")</li>
            <li>@Html.ActionLink("Table Layout", "Table", "Product")</li>
            <li>@Html.ActionLink("Tile Layout", "Tile", "Product")</li>

        </ul>

    </nav>
    <section id="main-content">
        <h1>Toy Department</h1>
        @RenderBody()
    </section>
</body>
</html>

